In [1]:
#import basic libraries for data analysis
import pandas as pd
import numpy as np

In [2]:
#navigate file directory
file = r"C:\Users\AONU\Downloads\Vangelis\Working.csv"
df = pd.read_csv(file)

In [3]:
df.head()

,Unnamed: 0,ip,client_id,application_date,birthDate,target_income,CompletedAt,score,demofeatures_debt_to_income_ratio,demofeatures_net_income_band,...,createdAt,predictedIncome,housingStatus,housingExpense,housingDuration,employmentStatus,highestLevelEducation,hasCar,statedDevice,averageMonthlyDistanceTravelled
0,0,197.210.10.11,777116034,2018-06-01 13:45:54 UTC,1981-05-04 00:00:00 UTC,50000.00,2018-06-01 12:40:58 UTC,0.924669,16.33,50000,...,2018-06-01 12:40:52 UTC,48565.037719,Rented House,65000,138,Employed,Secondary,False,Itel It1556 Plus,715.48
1,1,105.112.120.10,879642090,2018-08-20 18:44:14 UTC,1966-01-15 00:00:00 UTC,110813.09,2018-08-16 12:46:27 UTC,0.944850,4.55,600000,...,2018-08-16 12:46:17 UTC,205469.612882,Rented House,650000,13,Employed,Post-Graduate,False,Samsung SM-G570F,626806.60
2,2,197.210.8.48,522815756,2018-04-07 06:18:12 UTC,1989-06-08 00:00:00 UTC,130000.00,2018-04-06 18:28:10 UTC,0.885160,5.21,300000,...,2018-04-06 18:28:04 UTC,43977.975909,Rented House,400000,62,Self-Employed,Graduate,False,Samsung SM-G532F,2421.27
3,3,197.210.172.53,720382282,2018-07-18 20:28:21 UTC,1993-06-22 00:00:00 UTC,20514.93,2018-07-18 19:27:30 UTC,0.864574,19.50,50000,...,2018-07-18 19:27:24 UTC,54826.025871,Rented House,80000,48,Employed,Graduate,False,TECNO K7,2020.90
4,4,105.112.38.132,76518067,2018-08-25 14:12:16 UTC,1986-12-05 00:00:00 UTC,111596.19,2018-08-25 13:09:05 UTC,0.937102,10.96,175000,...,2018-08-25 13:08:56 UTC,106396.064497,Owned House,0,119,Employed,Post-Graduate,False,Samsung SM-J730F,78631.04

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,2252.0,1.125500e+03,6.502407e+02,0.000000,5.627500e+02,1.125500e+03,1.688250e+03,2.251000e+03
client_id,2252.0,4.989923e+08,2.912798e+08,144336.000000,2.472320e+08,4.975943e+08,7.530842e+08,9.999010e+08
target_income,2252.0,1.185774e+05,1.405461e+05,849.530000,4.743978e+04,7.861070e+04,1.375983e+05,2.024378e+06
score,2252.0,8.843606e-01,7.053298e-02,0.405884,8.591251e-01,9.015878e-01,9.301205e-01,9.812602e-01
demofeatures_debt_to_income_ratio,1913.0,2.250170e+01,2.993791e+01,0.010000,1.139000e+01,1.748000e+01,2.584000e+01,7.679100e+02
...,...,...,...,...,...,...,...,...
clientId,2252.0,4.986133e+08,2.912598e+08,144336.000000,2.468623e+08,4.974094e+08,7.521286e+08,9.999010e+08
predictedIncome,2250.0,6.878606e+04,4.726288e+04,-1.000000,3.923552e+04,5.644329e+04,8.338176e+04,8.189236e+05
housingExpense,2252.0,1.766263e+05,2.567369e+05,0.000000,0.000000e+00,1.200000e+05,2.500000e+05,3.000000e+06
housingDuration,2252.0,7.058526e+01,8.288549e+01,0.000000,2.500000e+01,4.300000e+01,7.700000e+01,5.990000e+02
averageMonthlyDistanceTravelled,2252.0,4.276405e+04,3.676518e+05,0.000000,1.847125e+02,1.338670e+03,9.414852e+03,1.333844e+07

In [6]:
df.describe(include = 'all')

,Unnamed: 0,ip,client_id,application_date,birthDate,target_income,CompletedAt,score,demofeatures_debt_to_income_ratio,demofeatures_net_income_band,...,createdAt,predictedIncome,housingStatus,housingExpense,housingDuration,employmentStatus,highestLevelEducation,hasCar,statedDevice,averageMonthlyDistanceTravelled
count,2252.000000,2252,2.252000e+03,2252,2252,2.252000e+03,2252,2252.000000,1913.000000,2252.000000,...,2252,2250.000000,2249,2.252000e+03,2252.000000,2252,2215,2252,2252,2.252000e+03
unique,NaN,1900,NaN,2251,1996,NaN,2251,NaN,NaN,NaN,...,2252,NaN,7,NaN,NaN,5,4,2,631,NaN
top,NaN,197.211.59.164,NaN,2018-04-04 07:06:16 UTC,1982-09-16 00:00:00 UTC,NaN,2018-09-14 16:06:18 UTC,NaN,NaN,NaN,...,2018-08-22 13:40:17 UTC,NaN,Rented House,NaN,NaN,Employed,Graduate,False,Infinix HOT 4,NaN
freq,NaN,7,NaN,2,4,NaN,2,NaN,NaN,NaN,...,1,NaN,1527,NaN,NaN,2074,1600,2210,72,NaN
mean,1125.500000,NaN,4.989923e+08,NaN,NaN,1.185774e+05,NaN,0.884361,22.501704,137611.012433,...,NaN,68786.056447,NaN,1.766263e+05,70.585258,NaN,NaN,NaN,NaN,4.276405e+04
std,650.240725,NaN,2.912798e+08,NaN,NaN,1.405461e+05,NaN,0.070533,29.937906,132252.883055,...,NaN,47262.881807,NaN,2.567369e+05,82.885486,NaN,NaN,NaN,NaN,3.676518e+05
min,0.000000,NaN,1.443360e+05,NaN,NaN,8.495300e+02,NaN,0.405884,0.010000,0.000000,...,NaN,-1.000000,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,0.000000e+00
25%,562.750000,NaN,2.472320e+08,NaN,NaN,4.743978e+04,NaN,0.859125,11.390000,50000.000000,...,NaN,39235.521683,NaN,0.000000e+00,25.000000,NaN,NaN,NaN,NaN,1.847125e+02
50%,1125.500000,NaN,4.975943e+08,NaN,NaN,7.861070e+04,NaN,0.901588,17.480000,100000.000000,...,NaN,56443.293017,NaN,1.200000e+05,43.000000,NaN,NaN,NaN,NaN,1.338670e+03
75%,1688.250000,NaN,7.530842e+08,NaN,NaN,1.375983e+05,NaN,0.930121,25.840000,175000.000000,...,NaN,83381.764594,NaN,2.500000e+05,77.000000,NaN,NaN,NaN,NaN,9.414852e+03
max,2251.000000,NaN,9.999010e+08,NaN,NaN,2.024378e+06,NaN,0.981260,767.910000,750000.000000,...,NaN,818923.599230,NaN,3.000000e+06,599.000000,NaN,NaN,NaN,NaN,1.333844e+07

In [8]:
#Coulmns with over 60% of empty entries
ToDrop = df[['demofeatures_level_of_education','demofeatures_next_of_kin_relationship','demofeatures_num_employers','demofeatures_avg_household_exp_pm','demofeatures_num_in_household'
            ,'loanKey','loanId']]
df.drop(ToDrop, inplace = True, axis=1)

In [9]:
df.shape

(2252, 81)

In [19]:
df['score']

0       0.924669
1       0.944850
2       0.885160
3       0.864574
4       0.937102
          ...
2247    0.927580
2248    0.852255
2249    0.886676
2250    0.923203
2251    0.934701
Name: score, Length: 2252, dtype: float64

In [36]:
df.dropna(subset=['smsFeatures_tot_airtimecredit_vol','contactFeatures_ratio_surnames'], inplace=True)
df.shape

(2201, 81)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 0 to 2251
Data columns (total 81 columns):
Unnamed: 0                                         2201 non-null int64
ip                                                 2201 non-null object
client_id                                          2201 non-null int64
application_date                                   2201 non-null object
birthDate                                          2201 non-null object
target_income                                      2201 non-null float64
CompletedAt                                        2201 non-null object
score                                              2201 non-null float64
demofeatures_debt_to_income_ratio                  1868 non-null float64
demofeatures_net_income_band                       2201 non-null int64
demofeatures_time_at_employer_mths                 2185 non-null object
demofeatures_age_at_application_yrs                2201 non-null int64
demofeatures_device                                2082 non-null object
demofeatures_loan_purpose                          2201 non-null object
demofeatures_time_curr_address                     2200 non-null object
demofeatures_residence_state                       2200 non-null object
demofeatures_bank_name                             2201 non-null object
demofeatures_marital_status                        2200 non-null object
demofeatures_residential_status                    2189 non-null object
demofeatures_employment_status_clients             2124 non-null object
demofeatures_gender                                2201 non-null object
demofeatures_num_children                          2201 non-null int64
demofeatures_facebookid                            2201 non-null object
smsFeatures_minmaxdebit_tot                        2201 non-null float64
smsFeatures_mixmaxcredit_tot                       2201 non-null float64
smsFeatures_minbal_tot                             2201 non-null float64
smsFeatures_pers_sms_snt_flag                      2201 non-null float64
smsFeatures_pers_sms_rec_flag                      2201 non-null float64
smsFeatures_arrears_flag                           2201 non-null float64
smsFeatures_isp_flag                               2201 non-null float64
smsFeatures_sattv_flag                             2201 non-null float64
smsFeatures_avg_mly_airtimecredit_val              2201 non-null float64
smsFeatures_avg_airtimecredit_tx_val               2201 non-null float64
smsFeatures_tot_airtimecredit_vol                  2201 non-null float64
smsFeatures_tot_airtimecredit_val                  2201 non-null float64
smsFeatures_avg_mly_uber_val                       2201 non-null float64
smsFeatures_avg_uber_tx_val                        2201 non-null float64
smsFeatures_tot_uber_vol                           2201 non-null float64
smsFeatures_tot_uber_val                           2201 non-null float64
smsFeatures_avg_mly_gamble_val                     2201 non-null float64
smsFeatures_avg_gamble_tx_val                      2201 non-null float64
smsFeatures_tot_gamble_vol                         2201 non-null float64
smsFeatures_tot_gamble_val                         2201 non-null float64
smsFeatures_loans_prev2mnths                       2201 non-null float64
smsFeatures_loan_pmnts                             2201 non-null float64
smsFeatures_val_loans                              2201 non-null float64
smsFeatures_avg_sal                                2201 non-null float64
smsFeatures_debit_credit_ratio                     2201 non-null float64
smsFeatures_avg_mly_deb_val                        2201 non-null float64
smsFeatures_avg_mly_cred_val                       2201 non-null float64
smsFeatures_avg_deb_tx_val                         2201 non-null float64
smsFeatures_avg_cred_tx_val                        2201 non-null float64
smsFeatures_tot_deb_vol                            2201 non-null float64
smsFeatures_tot_deb_val                            2201 non-null float64
smsFeatures_tot_cred_vol                           2201 non-null float64
smsFeatures_tot_cred_val                           2201 non-null float64
smsFeatures_num_mnths_obs                          2201 non-null float64
jazzScore                                          2201 non-null float64
clientKey                                          2201 non-null object
contactFeatures_ratio_surnames                     2201 non-null float64
contactFeatures_avg_calls_per_day_contacts         2201 non-null float64
contactFeatures_share_of_contacts_called           2201 non-null float64
contactFeatures_days_active_caller_contacts        2201 non-null float64
contactFeatures_days_since_last_call_contacts      2183 non-null float64
contactFeatures_days_since_first_call_contacts     2201 non-null float64
contactFeatures_no_contacts_called                 2201 non-null float64
contactFeatures_calls_volume_contacts              2201 non-null float64
contactFeatures_most_called_contact_call_volume    2201 non-null float64
contactFeatures_no_contacts                        2201 non-null float64
utcOffset                                          2201 non-null float64
clientId                                           2201 non-null int64
createdAt                                          2201 non-null object
predictedIncome                                    2200 non-null float64
housingStatus                                      2198 non-null object
housingExpense                                     2201 non-null int64
housingDuration                                    2201 non-null int64
employmentStatus                                   2201 non-null object
highestLevelEducation                              2166 non-null object
hasCar                                             2201 non-null bool
statedDevice                                       2201 non-null object
averageMonthlyDistanceTravelled                    2201 non-null float64
dtypes: bool(1), float64(51), int64(8), object(21)
memory usage: 1.4+ MB

In [38]:
df.isnull().sum()
obj = df.isnull().sum()
for key,value in obj.iteritems():
        print(key,",",value)

Unnamed: 0 , 0
ip , 0
client_id , 0
application_date , 0
birthDate , 0
target_income , 0
CompletedAt , 0
score , 0
demofeatures_debt_to_income_ratio , 333
demofeatures_net_income_band , 0
demofeatures_time_at_employer_mths , 16
demofeatures_age_at_application_yrs , 0
demofeatures_device , 119
demofeatures_loan_purpose , 0
demofeatures_time_curr_address , 1
demofeatures_residence_state , 1
demofeatures_bank_name , 0
demofeatures_marital_status , 1
demofeatures_residential_status , 12
demofeatures_employment_status_clients , 77
demofeatures_gender , 0
demofeatures_num_children , 0
demofeatures_facebookid , 0
smsFeatures_minmaxdebit_tot , 0
smsFeatures_mixmaxcredit_tot , 0
smsFeatures_minbal_tot , 0
smsFeatures_pers_sms_snt_flag , 0
smsFeatures_pers_sms_rec_flag , 0
smsFeatures_arrears_flag , 0
smsFeatures_isp_flag , 0
smsFeatures_sattv_flag , 0
smsFeatures_avg_mly_airtimecredit_val , 0
smsFeatures_avg_airtimecredit_tx_val , 0
smsFeatures_tot_airtimecredit_vol , 0
smsFeatures_tot_airtimecredit_val , 0
smsFeatures_avg_mly_uber_val , 0
smsFeatures_avg_uber_tx_val , 0
smsFeatures_tot_uber_vol , 0
smsFeatures_tot_uber_val , 0
smsFeatures_avg_mly_gamble_val , 0
smsFeatures_avg_gamble_tx_val , 0
smsFeatures_tot_gamble_vol , 0
smsFeatures_tot_gamble_val , 0
smsFeatures_loans_prev2mnths , 0
smsFeatures_loan_pmnts , 0
smsFeatures_val_loans , 0
smsFeatures_avg_sal , 0
smsFeatures_debit_credit_ratio , 0
smsFeatures_avg_mly_deb_val , 0
smsFeatures_avg_mly_cred_val , 0
smsFeatures_avg_deb_tx_val , 0
smsFeatures_avg_cred_tx_val , 0
smsFeatures_tot_deb_vol , 0
smsFeatures_tot_deb_val , 0
smsFeatures_tot_cred_vol , 0
smsFeatures_tot_cred_val , 0
smsFeatures_num_mnths_obs , 0
jazzScore , 0
clientKey , 0
contactFeatures_ratio_surnames , 0
contactFeatures_avg_calls_per_day_contacts , 0
contactFeatures_share_of_contacts_called , 0
contactFeatures_days_active_caller_contacts , 0
contactFeatures_days_since_last_call_contacts , 18
contactFeatures_days_since_first_call_contacts , 0
contactFeatures_no_contacts_called , 0
contactFeatures_calls_volume_contacts , 0
contactFeatures_most_called_contact_call_volume , 0
contactFeatures_no_contacts , 0
utcOffset , 0
clientId , 0
createdAt , 0
predictedIncome , 1
housingStatus , 3
housingExpense , 0
housingDuration , 0
employmentStatus , 0
highestLevelEducation , 35
hasCar , 0
statedDevice , 0
averageMonthlyDistanceTravelled , 0

In [12]:
df['demofeatures_device'].unique()

array(['Itel', 'Samsung', 'TECNO', 'Infinix', 'GiONEE', 'LEAGOO', 'BLU',
       'BlackBerry', 'HTC', 'SOLO', 'HMD', 'InnJoo', 'Fero', 'TCL', 'ZTE',
       'ZUK', 'Motorola', 'LENOVO', 'HUAWEI', 'OnePlus', 'OUKITEL', 'LGE',
       'FERO', 'Asus', 'Ulefone', 'Xiaomi', 'V8', nan, 'INFINIX',
       'Google', 'Coolpad', 'Lenovo', 'HOTWAV', 'HTC6435LVW', 'Alps', 'Q',
       'XGODY', 'GIONEE', 'NUMA', 'K', 'Vodafone', 'Cherry', 'Sony',
       'YuLong', 'ILand', 'HOMTOM', 'Enspert', 'Roco', 'Wheatek',
       'Micromax', 'T591', 'Vernee', 'Navon', 'StarTimes', 'Archos',
       'XTOUCH', 'Mobiwind', 'E10', 'XL', 'Spreadtrum', 'CUBE', 'DOOGEE',
       'WIKO', 'SageReal', 'OCTA', 'Fly', 'SPRD', 'E1', 'CUBOT',
       'Blackberry', 'MTK', 'Malata', 'Gravity', 'PANASONIC', 'T8',
       'MIDCOM', 'A112', 'Fortune', 'Leagoo', 'HTCONE', 'HTC6535LVW',
       'A5', 'LeMobile', 'Shark', 'Lumigon', 'Blackview', 'Aspire', 'Mi',
       'HTCD200LVWPP', 'Android', 'Acer', 'FUJITSU',
       'BullittGroupLimited'], dtype=object)

In [ ]:
df.dtypes.value_counts()

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
df['demofeatures_num_employers'].isnull().value_counts()

In [ ]:
df['demofeatures_debt_to_income_ratio'].min()

In [ ]:
df.head()

In [ ]:
df.describe(include = 'all')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 88 columns):
Unnamed: 0                                         2252 non-null int64
ip                                                 2252 non-null object
client_id                                          2252 non-null int64
application_date                                   2252 non-null object
birthDate                                          2252 non-null object
target_income                                      2252 non-null float64
CompletedAt                                        2252 non-null object
score                                              2252 non-null float64
demofeatures_debt_to_income_ratio                  1913 non-null float64
demofeatures_net_income_band                       2252 non-null int64
demofeatures_time_at_employer_mths                 2235 non-null object
demofeatures_age_at_application_yrs                2252 non-null int64
demofeatures_device                                2131 non-null object
demofeatures_loan_purpose                          2252 non-null object
demofeatures_time_curr_address                     2251 non-null object
demofeatures_residence_state                       2251 non-null object
demofeatures_bank_name                             2252 non-null object
demofeatures_level_of_education                    715 non-null object
demofeatures_marital_status                        2251 non-null object
demofeatures_residential_status                    2240 non-null object
demofeatures_employment_status_clients             2174 non-null object
demofeatures_gender                                2252 non-null object
demofeatures_num_children                          2252 non-null int64
demofeatures_num_employers                         57 non-null float64
demofeatures_next_of_kin_relationship              228 non-null object
demofeatures_avg_household_exp_pm                  46 non-null float64
demofeatures_num_in_household                      57 non-null float64
demofeatures_facebookid                            2252 non-null object
smsFeatures_minmaxdebit_tot                        2214 non-null float64
smsFeatures_mixmaxcredit_tot                       2214 non-null float64
smsFeatures_minbal_tot                             2214 non-null float64
smsFeatures_pers_sms_snt_flag                      2214 non-null float64
smsFeatures_pers_sms_rec_flag                      2214 non-null float64
smsFeatures_arrears_flag                           2214 non-null float64
smsFeatures_isp_flag                               2214 non-null float64
smsFeatures_sattv_flag                             2214 non-null float64
smsFeatures_avg_mly_airtimecredit_val              2214 non-null float64
smsFeatures_avg_airtimecredit_tx_val               2214 non-null float64
smsFeatures_tot_airtimecredit_vol                  2214 non-null float64
smsFeatures_tot_airtimecredit_val                  2214 non-null float64
smsFeatures_avg_mly_uber_val                       2214 non-null float64
smsFeatures_avg_uber_tx_val                        2214 non-null float64
smsFeatures_tot_uber_vol                           2214 non-null float64
smsFeatures_tot_uber_val                           2214 non-null float64
smsFeatures_avg_mly_gamble_val                     2214 non-null float64
smsFeatures_avg_gamble_tx_val                      2214 non-null float64
smsFeatures_tot_gamble_vol                         2214 non-null float64
smsFeatures_tot_gamble_val                         2214 non-null float64
smsFeatures_loans_prev2mnths                       2214 non-null float64
smsFeatures_loan_pmnts                             2214 non-null float64
smsFeatures_val_loans                              2214 non-null float64
smsFeatures_avg_sal                                2214 non-null float64
smsFeatures_debit_credit_ratio                     2214 non-null float64
smsFeatures_avg_mly_deb_val                        2214 non-null float64
smsFeatures_avg_mly_cred_val                       2214 non-null float64
smsFeatures_avg_deb_tx_val                         2214 non-null float64
smsFeatures_avg_cred_tx_val                        2214 non-null float64
smsFeatures_tot_deb_vol                            2214 non-null float64
smsFeatures_tot_deb_val                            2214 non-null float64
smsFeatures_tot_cred_vol                           2214 non-null float64
smsFeatures_tot_cred_val                           2214 non-null float64
smsFeatures_num_mnths_obs                          2214 non-null float64
jazzScore                                          2251 non-null float64
clientKey                                          2252 non-null object
loanKey                                            0 non-null float64
loanId                                             0 non-null float64
contactFeatures_ratio_surnames                     2238 non-null float64
contactFeatures_avg_calls_per_day_contacts         2238 non-null float64
contactFeatures_share_of_contacts_called           2238 non-null float64
contactFeatures_days_active_caller_contacts        2238 non-null float64
contactFeatures_days_since_last_call_contacts      2220 non-null float64
contactFeatures_days_since_first_call_contacts     2238 non-null float64
contactFeatures_no_contacts_called                 2238 non-null float64
contactFeatures_calls_volume_contacts              2238 non-null float64
contactFeatures_most_called_contact_call_volume    2238 non-null float64
contactFeatures_no_contacts                        2238 non-null float64
utcOffset                                          2251 non-null float64
clientId                                           2252 non-null int64
createdAt                                          2252 non-null object
predictedIncome                                    2250 non-null float64
housingStatus                                      2249 non-null object
housingExpense                                     2252 non-null int64
housingDuration                                    2252 non-null int64
employmentStatus                                   2252 non-null object
highestLevelEducation                              2215 non-null object
hasCar                                             2252 non-null bool
statedDevice                                       2252 non-null object
averageMonthlyDistanceTravelled                    2252 non-null float64
dtypes: bool(1), float64(56), int64(8), object(23)
memory usage: 1.5+ MB

In [40]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [47]:
df[['demofeatures_debt_to_income_ratio']]=df[['demofeatures_debt_to_income_ratio']].astype(float)
count, bin_edges = np.histogram(df[['demofeatures_debt_to_income_ratio']].astype(float), 3)
df[['demofeatures_debt_to_income_ratio']].plot(kind='hist', xticks=bin_edges)
plt.show()

ValueError: range parameter must be finite.

In [ ]:
gg = df.dropna(axis=1)

In [ ]:
gg.shape

In [ ]:
df['demofeatures_num_employers ']

In [ ]:
{'Unnamed: 0':'S/N', 'ip':'IP', 'client_id':'ClientID', 'application_date':'ApplicationDate', 'birthDate':'BirthDate',
       'target_income':'TargetIncome', 'CompletedAt':'TimeCompletedAt', 'score':'Score',
       'demofeatures_debt_to_income_ratio':'DebtIncomeRatio', 'demofeatures_net_income_band':'NetIncomeband',
       'demofeatures_time_at_employer_mths':'TimeAtEmployer',
       'demofeatures_age_at_application_yrs':'AgeAtApplication', 'demofeatures_device':'DeviceName',
       'demofeatures_loan_purpose':'LoanPurpose', 'demofeatures_time_curr_address':'TimeAtCurrentAddress',
       'demofeatures_residence_state':'ResidenceState', 'demofeatures_bank_name':'BankName',
       'demofeatures_level_of_education':'LevelOfEducation', 'demofeatures_marital_status':'MaritalStatus',
       'demofeatures_residential_status':'ResidentialStatus',
       'demofeatures_employment_status_clients':'EmploymentStatusClients', 'demofeatures_gender':'Gender',
       'demofeatures_num_children':'NoOfChildren', 'demofeatures_num_employers':'NoOfEmployers',
       'demofeatures_next_of_kin_relationship':'Nextofkin',
       'demofeatures_avg_household_exp_pm':'AvgHouseholdExpPerMon', 'demofeatures_num_in_household':'NoInHoushold',
       'demofeatures_facebookid':'FacebookID', 'smsFeatures_minmaxdebit_tot':'MinMaxSmsDebitTotal',
       'smsFeatures_mixmaxcredit_tot':'MinMaxSmsCreditTotal', 'smsFeatures_minbal_tot':'SmsFeaturesMinBalTot',
       'smsFeatures_pers_sms_snt_flag':'PersSmsSntFlag', 'smsFeatures_pers_sms_rec_flag':'PersSmsRecFlag',
       'smsFeatures_arrears_flag':'ArrearsFlag', 'smsFeatures_isp_flag':'FeaturesISPFlag',
       'smsFeatures_sattv_flag':'SatTVFlag', 'smsFeatures_avg_mly_airtimecredit_val':'AvgAirtimeCreditVal',
       'smsFeatures_avg_airtimecredit_tx_val':'AvgAirtimeCreditTxVal',
       'smsFeatures_tot_airtimecredit_vol':'TotAirtimeCreditVol',
       'smsFeatures_tot_airtimecredit_val':'TotAirtimeCreditVal','smsFeatures_avg_mly_uber_val':'SmsFeaturesAvgMlyUberVal',
       'smsFeatures_avg_uber_tx_val':'AvgUberTxVal', 'smsFeatures_tot_uber_vol':'TotUberVol',
       'smsFeatures_tot_uber_val':'TotUberVal', 'smsFeatures_avg_mly_gamble_val':'AvgMlyGambleVal',
       'smsFeatures_avg_gamble_tx_val':'AvgGambleTxVal', 'smsFeatures_tot_gamble_vol':'TotGambleVol',
       'smsFeatures_tot_gamble_val':'TotGambleVal', 'smsFeatures_loans_prev2mnths':'LoanPrev2Months',
       'smsFeatures_loan_pmnts':'LoanPmnts', 'smsFeatures_val_loans':'ValLoans',
       'smsFeatures_avg_sal':'AvgSal', 'smsFeatures_debit_credit_ratio':'DebitCreditRatio',
       'smsFeatures_avg_mly_deb_val':'AvgMlyDebVal', 'smsFeatures_avg_mly_cred_val':'AvgCredTxVal',
       'smsFeatures_avg_deb_tx_val':'AvgDebTxval', 'smsFeatures_avg_cred_tx_val':'AvgCredTxVal',
       'smsFeatures_tot_deb_vol':'TotDebVol', 'smsFeatures_tot_deb_val':'TotDebVal',
       'smsFeatures_tot_cred_vol':'TotCredVol', 'smsFeatures_tot_cred_val':'TotCredVal',
       'smsFeatures_num_mnths_obs':'NumMonthsObs', 'jazzScore':'JazzScore', 'clientKey':'ClientKey', 'loanKey':'LoanKey',
       'loanId':'LoanID', 'contactFeatures_ratio_surnames':'RatioSurnames',
       'contactFeatures_avg_calls_per_day_contacts':'AvgCallsPerDay',
       'contactFeatures_share_of_contacts_called':'ShareOfContactsCalled',
       'contactFeatures_days_active_caller_contacts':'daysActiveCallerContacts',
       'contactFeatures_days_since_last_call_contacts':'DaysSince',
       'contactFeatures_days_since_first_call_contacts',
       'contactFeatures_no_contacts_called',
       'contactFeatures_calls_volume_contacts',
       'contactFeatures_most_called_contact_call_volume',
       'contactFeatures_no_contacts', 'utcOffset', 'clientId', 'createdAt',
       'predictedIncome', 'housingStatus', 'housingExpense', 'housingDuration',
       'employmentStatus', 'highestLevelEducation', 'hasCar', 'statedDevice',
       'averageMonthlyDistanceTravelled']

In [ ]:
A = [[1,2,0,0],[0,3,4,0],[0,0,5,6],[1,0,0,7]]
np.linalg.det(A)